@font-face {
    font-family: Karla;
    src: url(./static/Karla-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: hsl(204, 43%, 93%);
    width: 100%;
    height: 740px;
    display: flex;
    padding-left: 500px;
    padding-top: 200px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Karla;
}

.first-section {
    background-color: white;
    width: 45%;
    padding: 30px;
}

.first-section h3 {
    color: hsl(179, 62%, 43%);
    padding-bottom: 10px;
}

.first-section .top {
    color: hsl(71, 73%, 54%);
    padding-bottom: 10px;
    font-weight: 700;
}

.first-section p {
    color: hsl(218, 22%, 67%);
    line-height: 25px;
}

.secondgrid {
    display: flex;
}

.second-section {
    background-color: hsl(179, 62%, 43%);
    width: 20.5%;
    height: 230px;
    padding: 30px;
    line-height: 40px;
}

.second-section h3 {
    color: white;
}

.second-section .price {
    display: flex;
    gap: 10px;
}

.second-section .price-big {
    font-size: 30px;
    font-weight: 700;
}

.second-section .price-small {
    color: hsl(204, 43%, 93%);
    padding-top: 5px;
}

.second-section p {
    color: white;
    font-size: 16px;
    padding-bottom: 20px;
}

.second-section button {
    color: white;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border-style: none;
    width: 90%;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
    /* box-shadow: 2px 3px 50px 5px  hsl(179, 62%, 43%) ; */
}

.third-section {
    background-color: hsl(179, 47%, 52%);
    width: 20%;
    height: 230px;
    padding: 30px;
}

.third-section h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.third-section p {
    color: white;
    line-height: 35px;
}

@media screen and (max-width: 375px) {
    .container{
        height: 1000px;
        width: 100%;
    }
    .section {
        display: block;
        flex-direction: column-reverse;
    }

    .first-section {
        width: 100%;
    }

    .secondgrid {
        display: block;
    }

    .second-section {
        width: 100%;
    }
    .third-section{
        width:100%;
    }
}